input {
    margin: 1.25em;
    font-size: 1.4em;
    margin-top: 0.4em;
}

.zip {
    font-weight: bold;
    color: #C7F9CC;
    font-size: 2em;
    margin-top: 1.25em;
    background-color: #22577A;
}

form {
    text-align: center;
    background-color: #22577A;
}

.right-container, .left-container {
    width: 30%;
}

.btn {
    width: 5em;
    height: 2em;
    margin: 1em;
    margin-top: 0.3em;
    border-radius: 0.3em 1.3em;
    border-color: rgb(46, 204, 113);
    transition: all .2s ease;
    box-sizing: border-box;
    text-align: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 0.8em;
    padding-bottom: 1.8em;
    overflow: hidden;
  } 
  
  .btn:hover {
    border-radius: 1.3em 0.3em;
    background: rgb(46, 204, 113);
    cursor: pointer;
  }

  .zip-code-entry {
    background: white;
    width: 70%;
    padding: 0.5em;
    text-align: center;
  }