@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

.small-images {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin-top: 3em;
}

.attributes-title {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  background-color: #22577A;
}

.details-wrapper {
  display: flex;
  justify-content: center;
}

.details-top, .details-bottom {
  text-align: center;
}

.details-middle, .details-bottom {
  border-radius: 1.4%;
  color: white
}

.details-top {
  font-weight: 600;
}

.more-about {
  border: 0.2em solid #22577A;
  border-radius: 0.5em;
  width: 30em;
  margin: 0 auto;
  background-color: #22577A;
  margin-top: 3em;
  padding-bottom: 3.5em;
  display: inline-block;
}

.about-this-tree {
  background-color: #22577A;
}

.nature-link {
  color: white;
}

.hidden {
  display: none;
}

.tree-title {
  font-size: 1.5em;
  margin-bottom: -.4em;
}

.botanical {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: -.4em;
}

.grow {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

.main-image {
  margin-top: 7em;
}

.about {
  font-size: 1.5em;
}

.bullets, .emojis, .ext-link {
  font-size: 1em;
}

.ext-link {
  color: black;
}

.made3-in {
  font-size: 1.25em;
  margin-top: 0em;
  padding-left: 0em;
  font-family: 'Montserrat', sans-serif;
}

.colorado3 {
  height: 6vh;
  width: 5vw;
  padding-left: 0em;
  padding-top: 4em;
}

.leaf2 {
  width: 5em;
  height: 2em;
  margin: 1em;
  margin-top: 2em;
  border-radius: 0.3em 1.3em;
  border: 0.25em solid #a0e000;
  transition: all .2s ease;
  text-align: center;
  color: #a0e000;
  background-color: rgb(91, 86, 86);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 0.8em;
  padding-bottom: 1.8em;
  overflow: hidden;
} 
  
.leaf2:hover {
  border-radius: 1.3em 0.3em;
  background: rgb(46, 204, 113);
  cursor: pointer;
}

.image3-box {
  background: var(--image-url) center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color:#22577A;
}

.details-page {
  width: 100vw;
  background-image: linear-gradient(to right,
	rgba(199.5, 220.5, 220.5, .85) 150px, rgba(199.5, 220.5, 220.5, .85) 100%);
}

.minih-left  {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  font-size: 0.5em;
}

.about-top {
  background-color: #22577A;
  margin: 0 auto;
  border: 0.2em solid #22577A;
  border-radius: 0.5em;
  padding: 0.5% 3% 2% 3%;
  color: white;
  background-color: #22577A;
  margin: 0 auto;
  border: 0.2em solid #22577A;
  border-radius: 0.5em;
  display: inline-block;
  margin-bottom: -2em;
}

.detail-page-image {
  height: 20em;
  width: 20em;
  border-radius: 6%;
  border: 0.5em solid #22577A;
}

.bullet-list {
  margin-top: -0.5em;
  margin-bottom: 2em;
}

.a-list {
  margin-bottom: 1em;
}

.details-middle {
  border: 0.2em solid #22577A;
  border-radius: 0.5em;
  margin: 0 auto;
  background-color: #22577A;
  margin-top: 50px;
  display: inline-flex;
  flex-direction: column;
  padding-right: 3%;
  padding-left: 2.5%;
}