@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.main-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.main-container {
  display: flex;
  margin: auto;
  max-width: 60%;
}

.colorado {
  /* max-width: 100%; */
  max-height: 50px; 
  /* height: auto;  */
  width: auto;
  margin-top: 50px;
}

.made-in {
  font-size: 15px;
  margin-top: 10px;
  color: #22577A;
  font-family: 'Montserrat', sans-serif;
}

.image-box {
  background: var(--image-url) center center;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.home-page {
  width: 100vw;
  background-image: linear-gradient(to right,
  rgba(199.5, 220.5, 220.5, .85) 150px, rgba(199.5, 220.5, 220.5, .85) 100%);
}
