.main-wrapper {
  display: flex;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.left-container {
 border: 0.2em solid black;
  /* background-color: #80ED99; */
    background-color: #C7F9CC;
}

.right-container {
  border: 0.2em solid black;
  background-color: #22577A;
}

.home-header {
  font-size: 2em;
  margin: 1.25em;
  background-color: #C7F9CC;
}

.instructions {
  margin-right: 2.5em;
  margin-left: 2.5em;
  background-color: #C7F9CC;
  font-size: 1.4em;
}

.jungle {
  margin-top: 5em;
  height: 50vh;
  width: 100vw;
  opacity: 60%;
}

.home-page {
  overflow: hidden;
}

input {
  border: 2px solid black;
}